<form method="POST" action="/challenge" enctype="multipart/form-data">
    <p>Challenge: <input type="text" name="name"></p>
    <p>Photo: <input type="file" name="photo"></p>
    <p>Description: <input type="text" name="description"></p>
    <!--<input type="hidden" name="album_id" value="1">-->
    <p><input type="submit"></p>
</form>